<p id="notice"><%= notice %></p>



<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

<div>
  <% if @note %>
    <p><%= @note.body %></p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Edit', edit_note_path(@note), :class => 'btn btn-secondary' %>
      <%= link_to 'Destroy', @note, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-secondary' %>
      <%= link_to 'Seen it', noteseen_path(@note), :class => 'btn btn-secondary' %>
    </div>
  <% else %>
    You've seen all your notes today.
    <%= link_to 'Reset', reset_path() %>
  <% end %>
</div>
<br>


</main>
