<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<% flash.each do %>
<p id="notice" role="alert" class="alert alert-success"><%= notice %></p>
<% end %>

<div>
  <% if @note %>
    <div class="card" style="width: 95%;">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">#<%= @note.get_primary_tag_name %></h6>
        <p class="card-text"><%= raw @note.body %></p>
        <% @note.tags.each_with_index do |t, i| %>
          <% if i != 0 %>
            <a href="tags/<%= t.id %>" class="card-link">#<%= t.name %></a>
          <% end %>
        <% end %>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
          <%= link_to 'Delete', @note, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
          <%= link_to 'Edit', edit_note_path(@note), :class => 'btn btn-sm btn-success' %>
          <%= link_to 'Seen it', noteseen_path(@note), :class => 'btn btn-sm btn-primary' %>
        </div>
      </div>
    </div>
  <% else %>
    You've seen all your notes today.
    <%= link_to 'Reset', reset_path() %>
  <% end %>
</div>
<br>


</main>
