<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<p id="notice"><%= notice %></p>


<div class="card" style="width: 100%;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">#<%= @note.get_tag_name %></h6>
    <%= simple_format(@note.body, class: "card-text") %>
    <a href="tags/<%= @note.second.id %>" class="card-link">#<%= @note.second.name %></a>
    <div class="btn-group-vertical float-right" role="group">
      <%= link_to (octicon 'pencil', :height => 20), edit_note_path(@note), :class => 'btn btn-sm btn-success' %>
      <%= link_to (octicon 'trashcan', :height => 20), @note, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
    </div>
    <% if @note.urgency_level == "high" %>
      <span title=<%=@note.urgency%> class="urgency-style badge badge-danger float-right"></span>
    <% elsif @note.urgency_level == "medium" %>
      <span title=<%=@note.urgency%> class="urgency-style badge badge-warning float-right"></span>
    <% else %>
      <span title=<%=@note.urgency%> class="urgency-style badge badge-success "></span>
    <% end %>
  </div>
</div>
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
</main>
