<p id="notice"><%= notice %></p>


<div class="card" style="width: 100%;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">#<%= @note.get_tag_name %></h6>
    <%= simple_format(@note.body, class: "card-text") %>
    <a href="tags/<%= @note.second.id %>" class="card-link">#<%= @note.second.name %></a>
    <div class="btn-group-vertical float-right" role="group">
      <%= link_to (octicon 'pencil', :height => 20), edit_note_path(@note), :class => 'btn btn-sm btn-success' %>
      <%= link_to (octicon 'trashcan', :height => 20), @note, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-sm btn-danger' %>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
