<main role="main" class="col-md-9 ml-sm-auto col-lg-9 pt-3 px-4">
<% flash.each do %>
  <div id="notice" role="alert" class="alert alert-success"><%= notice %></div>
<% end %>

<% @notes.each do |note| %>
  <div class="card" style="width: 95%;">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">#<%= note.get_tag_name %></h6>
      <p class="card-text"><%= raw note.body %></p>
          <a href="../second/<%= note.second.id %>" class="card-link">#<%= note.second.name %></a>
    </div>
  </div>
  <br>
<% end %>

<%= link_to 'Back', notes_path %>

</main>
