<% flash.each do %>
  <div id="notice" role="alert" class="alert alert-success"><%= notice %><button type="button" class="close" data-dismiss="alert" aria-label="Close">
    </button></div>
  <% end %>

  <% @notes.each do |note| %>
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">#<%= note.get_tag_name %></h6>
        <%= simple_format(note.body, class: "card-text") %>
        <a href="../seconds/<%= note.second.id %>" class="card-link">#<%= note.second.name %></a>
        <div class="btn-group dropleft next-selector-show float-right" role="group">
          <button class="btn btn-sm btn-next-show btn-light active dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= octicon "kebab-vertical" %>
          </button>
          <div class="dropdown">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "delete note", note, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'dropdown-item' %>
              <%= link_to "edit note", edit_note_path(note), :class => 'dropdown-item' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>

  <%= link_to "back", :back, :class => "red-text tag-item nav-item nav-link" %>
